
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Categories</h2>

<ul>
    <li>@Html.ActionLink("Food", "Details", "Categories", new { DetailName = "Food" }, null)</li>
    <li>@Html.ActionLink("Tech", "Details", "Categories", new { DetailName = "Tech" }, null)</li>
    <li>@Html.ActionLink("Sport", "Details", "Categories", new { DetailName = "Sports" }, null)</li>
</ul>